@app-primary: #dce1e7;
@app-secondary: gold;

#app {
  width: 100%;
  text-align: center;
  background-color: #d3d3d34d;
}

.app-container {
  // width: 900px;
  width: 100%;
  margin: auto;
  /*  margin: 200px auto auto; */
  display: flex;
  justify-content: center;
  /*   align-items: center; */
  height: 100vh;
  position: relative;

}

.app-container-blur {
  background-color: rgba(0, 0, 0, 0.5);
}

.app-logo {
  height: 20px;
}

.app-logo {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(84, 28, 28);
}

.app-text {
  color: @app-secondary;
}

.app-create-task {
  width: 200px;
  height: 40px;
  /*   border-radius: 5px; */
}

.todo-list {
/*   position: relative; */
  display: flex;
  width: 700px;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 100px auto auto;
  background-color: #d3d3d34d;
}