.preview-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 500px;
    height: 100px;
    background-color: #fffdfd7d;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    text-align: start;
    gap: 10px;

    &:hover {
        box-shadow: 0px 0px 5px 1px #c4c4c4fa;
    }

    &>* {
        display: flex;
        flex-direction: column;
        gap: 5px
    }

    &>:last-child {
        width: 100%;
        gap: 15px
    }
}

.preview-title {
    font-weight: 500;
    font-size: 18px;

    &::first-letter {
        text-transform: uppercase;
    }

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.preview-description {
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.preview-footer {
    display: flex;
    justify-content: space-between;
}

