@app-primary: #dce1e7;
@app-secondary: gold;

.app {
  text-align: center;
  background-color: #d3d3d34d;
}

.app-container {
  width: 900px;
  margin: 100px auto auto;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {

  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(84, 28, 28);

}

.App-text {
  color: @app-secondary;
}

.todo-list{
  display: flex;
  flex-direction: column;
  background-color: #d3d3d34d;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}